<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
<%- include('../includes/nav.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <div class="grid">
                <% for (let product of products) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.productId.title %>(<%= product.quantity %>)</h1>    
                        </header>
                        <div class="card__image">
                            <img src="<%= product.productId.imageURL %>" alt="<%= product.productId.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$ <%= product.productId.price %></h2>
                            <p class="product__description"><%= product.productId.description %></p>
                        </div>
                        <div class="card__actions">
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" name="productId" value="<%= product.productId._id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                    </article>
                <% } %>
            </div>
            <hr>
            <div class="centered">
                <form action="/add-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <h1>Cart is empty!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>